<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlists</title>
</head>
<body>
  {% load static %}
  <form action="" method="POST">
    {% csrf_token %}

    <div class="contianter">
      <div style="width: 20%; float: left;" class="PlasylistDisplay">
        <h2>Playlists</h2>
        <div class="list">
          {% for playlist in playlists %}
            <li class="listItem" name="listItem"> <button class="ViewPlaylist" name="ViewPlaylist" value="{{ playlist.name }}" type="submit"> {{ playlist.name }} </button> </li>
          {% endfor %}
        </div>
      </div>
      <div style="width: 80%; float: right;" class="SongDisplay">
        {% if songs|length > 0 %}
          <h2>Playlist: {{ playlistName }}</h2>
          <h3>Name - Artist - Album</h3>
          {% for song in songs %}  
          <ul style="list-style-type: none;">
            <li style="width:100%">
              <div class="SongItem" style="width: 100%; height: 40px; margin:0; padding:3;">
                <div class="SongName" style = "width:50%; height:100%; float:left;">
                  <p class="SongId" style="margin:0;">{{song.track_name}} - {{song.artist_name}} - {{song.album_name}}</p> 
                </div>
                <div class="ModifySong" style = "width:50%; height:100%; float:right; padding:1">
                  {% if song.downloaded == False %}
                    <div class="DownloadSong" style = "height:100%; margin-right: 5px; float:right;">
                      <button type="submit" class="downloadSong" name="downloadSong" value="{{ song.id }}"> Download </button>
                    </div>
                  {% else %}
                    <div class="PlaySong" style = "height:100%; margin: 2px;  float:right;">
                      <button type="submit" id="playSong" class="playSong" name="ViewS" value="{{ song.id }}"> Play </button>
                    </div>
                  {% endif %}
                  <div class="DeleteSong" style = "height:100%; margin: 2px; float:right;">
                    <button type="submit" class="deleteSong" name="deleteSong" value="{{ song.id }}"> Delete </button>
                  </div>
                  <!-- <div class="CloseAudio" id="CloseAudio" style="width:7%; height:100%; float:left; display:none;">
                    <button type="button" onclick="closeAudioControls()"> X </button>
                  </div> -->
                </div>
              </div>
            </li>
          </ul>
          {% endfor %}
        {% else %}
          <h2>Playlist View</h2>
          <p>Add songs to playlist... </p>
        {% endif %}
      </div>
    </div>
  </form>
  <script>
    // function enableControls(){
    //   var a = document.getElementById("audio");
    //   a.style.display = 'block';
    //   var b = document.getElementById("CloseAudio");
    //   b.style.display = 'block';
    //   var audio = document.getElementById("Controls")
    //   audio.pause();
    // }
    // function closeAudioControls(){
    //   var b = document.getElementById("CloseAudio");
    //   b.style.display = 'none';
    //   var a = document.getElementById("audio");
    //   a.style.display = 'none';
    //   var audio = document.getElementById("Controls")
    //   audio.pause();
    // }
  </script>
</body>
</html>